root=true

[*.{groovy,java,kt,xml}]
charset=utf-8
indent_size=4
end_of_line=lf
indent_style=space
max_line_length=120
insert_final_newline=true
ij_continuation_indent_size=8
trim_trailing_whitespace=true
